html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}

.map-container {
  width: 100%;
  height: 100%;
  position: relative;
}

#leaflet-map {
  width: 100%;
  height: 100%;
  z-index: 50;
}

.bus-station-marker {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: fit-content;

  &_top {
    font-size: 0.75rem;
    font-weight: lighter;
  }

  &_main {
    font-size: 1rem;
  }

  &_daily-count {
    font-size: 0.85rem;
    font-weight: lighter;
    font-style: italic;
  }
}

.map-bus-icon svg {
  // box-shadow: 1px 1px 1px 0 #000;
}

.map-control-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 100;
}

.map-control-inner {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: start;
}

.map-controls-container {
  pointer-events: auto;
  margin: 0 0 40px 40px;
  background: white;
  border-radius: 4px;
  padding: 8px 8px;
  user-select: none;
}


.par-marker {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: fit-content;

  &_type {
    font-size: 0.75rem;
    opacity: 0.95;
    font-style: italic;
  }

  &_name {
    font-size: 0.9rem;
  }
}

.green-zone-marker {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: fit-content;

  &_title {
    min-width: fit-content;
    white-space: nowrap;
    font-size: 1rem;
    font-weight: bold;
  }

  &_area {
    font-size: 0.9rem;
    font-style: italic;
  }
}
